@font-face {
    font-family: 'Gosha Sans';
    font-style: normal;
    font-weight: 400;
    src: url('https://kusaetsa.github.io/rettel-fonts/GoshaSansRegular.woff') format('woff');
}

@font-face {
    font-family: 'Gosha Sans';
    font-style: normal;
    font-weight: 700;
    src: url('https://kusaetsa.github.io/rettel-fonts/GoshaSansBold.woff') format('woff');
}